/* id */
#outter{ position: relative; }
#field{
    position: relative;
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(81,124,211,1) 100%);
}
#modal div div div{ border: none !important; }

/* layout */
.my-wmax{ width: 100%; }
.my-hmax{ height: 100%; }
.my-hmin{ height: 600px; }

/* color */
.bd-black{ border: 1px black solid; }
.bd-none{ border: none; }

/* modal */
#option div{
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
}
#option div h5{
    margin: 0;
}

#txt{
    width: auto;
    height: 100%;
    padding: 5px;
    border: 2px gray solid;
    border-radius: 5px;
}
#chk1{ display: none; }
#chk2{ display: none; }
#lb1{ display: none; font-size: 12px; color: red; }
#lb2{ display: none; font-size: 12px; color: red; }

input + label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px gray solid;
    border-radius: 100%;
	cursor: pointer;
    transition: .2s;
}
input:checked + label{
    border: 5px rgb(11, 94, 215) solid;
}

/* canvas */
.launch{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-90%) translateX(-50%);
    width: 8vh;
    height: 8vh;
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(255, 255, 0);
    border: 2px black solid;
    border-radius: 100%;
}

.launch:hover{
    background-color: rgb(235, 235, 0);
}

.launch:active{
    background-color: rgb(215, 215, 0);
}

#cannon{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 30%;
    min-width: 200px;
}
#Lhill{
    position: absolute;
    bottom: -10px;
    left: -10px;
    height: 30%;
}
#Rhill{
    position: absolute;
    bottom: -10px;
    right: -10px;
    height: 30%;
}

/* ect */
.font-dh{ font-family: 'Do Hyeon'; }

.log{
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 270px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px black solid;
    border-radius: 16px;
}

.log-title{
    height: 70px;
    margin: 0;
    padding: 16px;
    text-align: center;
}

.log-outter{
    padding: 8px 16px 8px 16px;
    height: 400px;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.log-outter::-webkit-scrollbar{
    display: none;
}

.log-inner{
    margin-bottom: 8px;
    font-size: 20px;
}

.reload{
    position: fixed;
    bottom: 1.5rem;
    right: 5rem;
    margin: 0;
    font-size: 2rem;
}

.reload:hover{
    color: red;
}

@media screen and (max-width: 992px) {
    .log{ display: none; }
    .reload{ bottom: .5rem; right: 1rem; }
}

@media screen and (max-width: 768px) {
    #Lhill{ display: none; }
    #Rhill{ display: none; }
}